@media (max-width: 1060px) {
  .icons {
    display: none; } }
@media (max-width: 767px) {
  .search button {
    display: none; } }
nav {
  background: #232F3E; }

.nav-top {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.logo a {
  text-decoration: none; }
.logo p {
  color: white;
  font-size: 36px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter; }
.logo span {
  color: #FEBD69; }

.search {
  width: 40%; }

.search-bar {
  width: 70%;
  border-radius: 8px; }

.search-button {
  color: white;
  font-family: 'lato';
  background: #FEBD69;
  width: 20%;
  height: 25px;
  border-radius: 8px;
  border: 1px solid grey;
  cursor: pointer; }

.person, .envelope, .notifications {
  height: 20px;
  width: 20px;
  padding-left: 25px; }

.nav-bottom {
  color: white;
  font-family: 'lato';
  font-size: 20px;
  font-weight: lighter; }
  .nav-bottom button {
    display: none; }
  .nav-bottom .menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; }
    .nav-bottom .menu-items li {
      display: inline-block;
      margin: 0px 35px 0px 35px; }
    .nav-bottom .menu-items a {
      color: inherit;
      display: block;
      text-decoration: inherit; }

.dropdown-trigger {
  position: relative; }

.browse-dropdown {
  display: none;
  position: absolute;
  padding: 0;
  border: 1px solid grey; }
  .browse-dropdown li {
    display: block;
    background: white;
    color: black;
    padding: 10px;
    white-space: nowrap;
    width: 200px;
    margin: 0px !important; }

.dropdown-trigger:hover .browse-dropdown {
  display: block; }

.container {
  display: flex; }

.my-books {
  height: 100px;
  width: 20%; }
  .my-books h2 {
    font-weight: lighter;
    line-height: 0; }

.current, .queue, .read {
  border: 2px solid grey;
  background: #FEBD69;
  border-radius: 4px;
  text-align: center; }
  .current img, .queue img, .read img {
    height: 20px;
    opacity: .75; }

.books-img {
  background: lightgrey;
  text-align: center; }
  .books-img img {
    width: 35%;
    margin: 7%; }

.feed {
  width: 60%;
  background: #e9ebee; }
  .feed h1 {
    font-family: 'Lato';
    font-weight: lighter;
    text-align: center; }

.post {
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5%; }

.post-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
  font-family: 'Lato';
  font-weight: lighter; }
  .post-head img {
    width: 10%;
    height: 10%;
    border-radius: 50px; }

.post-content {
  display: flex; }
  .post-content img {
    width: 20%;
    height: 20%;
    margin: 5%; }
  .post-content p {
    margin: 5%;
    font-family: 'lato', sans-serif; }

.top-reads {
  width: 20%; }
  .top-reads h1 {
    font-family: 'Lato';
    font-weight: lighter;
    text-align: center; }

article {
  float: left;
  text-align: center;
  line-height: 0;
  width: 50%;
  font-weight: lighter; }
  article .book-cover {
    width: 65%;
    margin: 8%; }

@media (max-width: 769px) {
  .nav-left, .nav-center, .nav-right {
    display: block; }

  .nav-left {
    margin: 0 auto;
    padding: 0; }
    .nav-left .logo {
      text-align: center; }

  .nav-center {
    margin: 0 auto;
    padding: 0; }
    .nav-center .search-button {
      margin-left: 35%; }

  .nav-right {
    float: right; }
    .nav-right .icons {
      display: none; }

  .my-books {
    width: 20%; }

  .top-reads {
    display: none; }

  .feed {
    width: 75%; }
    .feed .content-img {
      width: 20%; }
    .feed p {
      width: 40%;
      padding-left: 5px; } }
@media (max-width: 400px) {
  .nav-menu .menu-items {
    margin: 12px 12px 0px 12px; }
    .nav-menu .menu-items li {
      margin: 0px 30px 10px 30px; }

  .my-books {
    display: none; }

  .feed {
    width: 100%; }
    .feed .my-feed {
      padding-left: 50px; }

  .feed h2 {
    padding: 0; }

  .post-one .post-head p {
    float: left; }

  .post-content img {
    width: 25%; }
  .post-content p {
    width: 50%;
    line-height: 1em !important; }
  .post-content .hh-killinglincoln, .post-content .hh-thelittleprince, .post-content .hh-odyssey, .post-content .hh-killingkennedy {
    padding-top: 40px; } }

/*# sourceMappingURL=style.css.map */
